header {
    background-color: #F9F6F4;
    text-align: center;
    font-family: 'Trochut', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#headerID {
    padding: 4% 0% 4% 0%;
    transition: 0.4s ease;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px;
}

#topButton {
    color: #b78111;
    background-color: #f9f6f4;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.4% 0.6% 0.4% 0.6%;
    overflow-x: hidden;
}

#topButton:hover {
    color: #f9f6f4;
    background-color: #b78111;
    transition: color 0.3s ease, background-color 0.3s ease;
}

footer {
    background-color: #666666;
    color: #eeeeee;
    padding: 2rem 10% 1% 10%;
    text-align: center;
}

#footerLinks {
    word-spacing: 0.25em;
}

body {
    background-color: #e8e8e8;
    font-size: 1.1rem;
}

.logos {
    display:flex;
    align-items:center;
}

#logosPar {
    text-align: center;
    margin: 0;
    width: 100%;
    padding-right: 15%;
}

.instagram {
    width: 29px;
    display: inline-block;
    float: right;
    margin-left: 16px;
    margin-right: 16px;
}

.linkedin {
    width: 32px;
    display: inline-block;
    float: right;
}

.profilePicture {
    display: block;
    width: 130px;
	border-style: outset;
	border-width: 2px;
	border-color: #e8e8e8;
	border-radius: 50%;
	margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(9px 6px 0.75rem gray);
}

#picturePar {
    float: right;
}

#aboutMe {
    padding: 10% 10% 9% 10%;
    background-color: #e8e8e8;
}

#aboutMeHeader {
    font-family: 'Trochut', sans-serif;
    letter-spacing: 0.05em;
}

#aboutMeText {
    background-color: #e8e8e8;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0.75;
    float: left;
}

#aboutMeTextandPicture {
    padding-top: 3%;
    display:flex;
    align-items:center;
    opacity: 1;
}

#resumeHeader {
    font-family: 'Trochut', sans-serif;
    letter-spacing: 0.05em;
}

#resume {
    padding: 6rem 10% 10% 10%;
    background-color: #e0e0e0;
}

#resumeLink {
    padding-top: 3%;
}

/*nav {
    background-color: #222;
}*/

#resumeText {
    max-width: 100%;
    padding-top: 3%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0.7;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    width: 20rem;
}

.col-lg-10 {
    padding: 0px;
}

.col-lg-2 {
    padding: 0px;
}

.col-lg-12 {
    padding: 0px;
}

a.hoverFooterLinks:hover {
    color: #b78111;
}

a.hoverFooterLinks {
    color: #eeeeee;
}

a:hover {
    text-decoration: none;
}

.navbar-nav {
    flex-direction: row;
    padding: 0% 2%;
}

#mySidenav {
    max-width: 50%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
    opacity: 0.7;
    white-space: nowrap;
}
  
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 100%;
    font-family: "Ubuntu", sans-serif;
    color: #818181;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#ham {
    text-align: left;
}

.hamburger {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 15%;
  }

.column {
    float: left;
    width: 33.33%;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }