header {
    background-color: #F9F6F4;
    text-align: center;
    font-family: 'Trochut', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#headerID {
    padding: 2% 0% 0% 0%;
    transition: 0.4s;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px;
}

#topButton {
    color: #F9F6F4;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.4% 0.6% 0.4% 0.6%;
    overflow-x: hidden;
}

footer {
    background-color: #666666;
    color: #eeeeee;
    padding: 2rem 10% 1% 10%;
    text-align: center;
}

#footerLinks {
    word-spacing: 0.25em;
}

body {
    background-color: #e8e8e8;
    padding-top: 10rem;
    font-size: 1.1rem;
}

.profilePicture {
    display: block;
    width: 130px;
	border-style: outset;
	border-width: 2px;
	border-color: #e8e8e8;
	border-radius: 50%;
	margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(9px 6px 0.75rem gray);
}

#picturePar {
    float: right;
}

#aboutMe {
    padding: 10% 10% 9% 10%;
    background-color: #e8e8e8;
}

#aboutMeHeader {
    font-family: 'Trochut', sans-serif;
    letter-spacing: 0.05em;
}

#aboutMeText {
    background-color: #e8e8e8;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0.75;
    float: left;
}

#aboutMeTextandPicture {
    padding-top: 3%;
    display:flex;
    align-items:center;
    opacity: 1;
}

#resumeHeader {
    font-family: 'Trochut', sans-serif;
    letter-spacing: 0.05em;
}

#resume {
    padding: 6rem 10% 10% 10%;
    background-color: #e0e0e0;
}

#resumeLink {
    padding-top: 3%;
}

/*nav {
    background-color: #222;
}*/

#resumeText {
    max-width: 100%;
    padding-top: 3%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    width: 20rem;
}

div {
    opacity: 0.75;
}

.col-lg-10 {
    padding: 0px;
}

.col-lg-2 {
    padding: 0px;
}

.col-lg-12 {
    padding: 0px;
}

a.hoverWhite:hover {
    color: red;
}

a.hoverWhite {
    color: #eeeeee;
}

a:hover {
    text-decoration: none;
}

.navbar {
    padding: 2% 0%;
    margin: 0px;
}